.mouseInfo {
    position: absolute;
    top: 0;
    left: 70px;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.25);
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 1000;
}

.gameArea {
    position: relative;
    width: 90vw;
    height: 90vh;
    margin: 5vh auto;
    background-color: #222;
    border-radius: 6px;
    overflow: hidden;
    z-index: 1;
}

.gameBorder {
    position: absolute;
    inset: 0;
    border: 2px dotted #333;
    border-radius: 6px;
    pointer-events: none;
    z-index: 2;
}

.hoveringButton {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid #333;
    color: #333;
    font-size: 16px;
    border-radius: 6px;
    z-index: 3;
}

.hoveringButtonHover {
    position: absolute;
    display: flex;
    flex-direction: column;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 255, 0, 0.3);
    border-radius: 6px;
    transition: opacity 0.3s;
    pointer-events: none;
    z-index: 1;
}

.hoveringButtonHover span {
    margin: 0;
    padding: 0;
}

.hoveringButton,
.hoveringButtonHover {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}